.book-list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
}

.book-list-item img {
  max-height: 160px;
  min-height: 160px;
  max-width: 100px;
}

.book-list-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

i {
  color: orange;
  font-size: 0.8rem;
}
